<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:include="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>HELLO SHOP</h1>
        <p class="lead">운동 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/exercises/new">운동 추가</a>
            <a class="btn btn-lg btn-secondary" href="/exercises">운동 목록</a>
        </p>
        <p class="lead">운동 기록</p>
        <p>
            <a class="btn btn-lg btn-dark" th:href="@{/dailyWorkouts/today }">운동 기록</a>
        </p>
        <p class="lead">주문 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/order">상품 주문</a>
            <a class="btn btn-lg btn-info" href="/orders">주문 내역</a>
        </p>
    </div>
    <div th:include="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>